@model F1_Project.Models.Round

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Round</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChampionshipId" class="control-label">Championship Year</label>
                <select asp-for="ChampionshipId" class="form-control" asp-items="ViewBag.ChampionshipId"></select>
                <span asp-validation-for="ChampionshipId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CircuitId" class="control-label">Circuit</label>
                <select asp-for="CircuitId" class="form-control" asp-items="ViewBag.CircuitId"></select>
                <span asp-validation-for="CircuitId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
