@model F1_Project.Models.ChampionshipTeam

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3><hr />
<form asp-action="Delete">
    <input type="hidden" asp-for="ChampionshipId" />
    <input type="hidden" asp-for="TeamId" />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
</form>
